# Ignoruj úplně všechno

*
!index.html
!index2.html
!claude.md
!.gitignore
!CLAUDE.md

# Složky
!photo/
!photo/**
!logo/
!logo/**
!font-nouvel-r/
!font-nouvel-r/**
!graphic-elements/
!graphic-elements/**